
.ios, .md {
 
    home-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }

    .gmnoprint, .gm-fullscreen-control{
    	display:none;
    }

    [search-container]{
      position: absolute;
      z-index: 100;
      width: 100%;
      margin-top: 75px;
    }

    [search-container] ion-input{
        background: #fff;
        margin:auto;
        width: 90%;
        border: 2px solid green;
        margin-top: 10px;
    }

    [search-container] ion-input input{
        padding-top: 5px;
    }

    [searchmap]{
      height: 50px;
      width: 90%;
      margin: 0 5%;
      background: white;
      padding: 10px;
      line-height: 30px;
    }
    [searchmap] span{
      float:left;
      width: 90%;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    [searchmap] i{
      line-height: 25px;
      float:left;
      color: green;
      width: 7%;
    }

    [showbook]{
      width: 100%;
      position: absolute;
      background: white;
      bottom: 0;
      height: 30%;
    }
 
}

