
.ios, .md {
 
    home-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }

    .gmnoprint, .gm-fullscreen-control{
    	display:none;
    }



    [search-container]{
      position: absolute;
      z-index: 100;
      width: 90%;
      margin: 75px 5%;
      background: white;
    }


    [searchmap]{
      height: 100px;
      width: 95%;
      margin: 0 3%;
      line-height: 30px;
    }

    [searchmap-icon]{
      float: left;
      height: 100px;
      width: 10%;
      margin: 0 4%;
    }

    [searchmap] span{
      float:left;
      width: 80%;
      height: 50px;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 50px;
    }
    [searchmap] span[top]{
      border-bottom: solid 1px green;
    }

    [searchmap-icon] i{
      position: relative;
      width: 100%;
      float: left;
      text-align: center;
    }

    [searchmap-icon] .fa-taxi{
      top: 16px;
    }
    [searchmap-icon] .fa-ellipsis-v{
      top: 28px;
    }
    [searchmap-icon] .fa-map-marker{
      top: 39px;
    }

    .green-icon{
      color: green;
    }

    [showbook]{
      width: 100%;
      position: absolute;
      background: white;
      bottom: 0;
      height: 30%;

    }

    [booking]{
      text-align: center;
      float: left;
      width: 100px;
      margin: 10px;
    }

    [booking] label{
      float: left;
      width: 100%;
      font-weight: bold;
    }
    [booking] em, [booking-container]{
      float: left;
      width: 100%;
    }
    [booking] span{
      float: left;
      width: 100%;
    }


 
}

